Source: dquest
Section: devel
Priority: extra
Maintainer: Ben Lau <xbenlau@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/dquest.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dquest.git;a=summary

Package: dquest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DQuest - The C++ ORM (Object-relational mapping) for Qt framework
 DQuest is a C++ ORM (Object-relational mapping) for Qt framework. It 
 aims to provide a rapid development environment for application with 
 database access. The database model declaration is very simple , just 
 like other C++/Qt class (example). It is designed for mobile 
 environment but also useful for desktop and embedded application that 
 do not demand for maximized performance for database.
 .
 It is getting more number of application use Sqlite for their data 
 storage. However, writing data model in SQL is complicated . Usually 
 it need to write two set of interface : One for C/C++ and other for Sql
 . The work load is duplicated, and debug is troublesome.
 .
 With DQuest, you can declare a database model using C++ directly. Read 
 / write access can be made through the C++ interface. You won't need to
 write any SQL to gain the benefit of using Sqlite in your application. 
